* {
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}
body {
    /*background-color: skyblue;*/
    margin: 0;
    color: white;
    background-color: #15182a;
}
.menu{
    /*visibility: hidden;*/
    width: 100%;
    height: 60px;
    background-color: #1c2039;
    position: fixed;
    top: 0;
    /*flex-wrap: nowrap;*/
    /*justify-content: space-between;*/
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    /*display: flex;*/
    /*align-items: center;*/
}
.menu-name {
    display: inline-block;
    color: white;
    font-size: 24px;
    color: #55bcd9;
    float: left;
}
.menu-trending {
    color: #55bcd9;
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
    font-size: 16px;
    float: right;
}
.menu-song {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.menu::after {
    content: "";
    clear: both;
    display: block;
}
main{
    margin-top: 60px;
    padding: 80px;
    text-align: center;
    /*border: 2px solid red;*/
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    /*border: 2px solid white;*/
}
.box{
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
.box-img {
    border-radius: 5px;
    margin-top: 10px;
}
.box-namesong{
    font-size: 24px;
    text-transform: capitalize;
    padding-top: 10px;
}
.box-namesinger{
    text-transform: capitalize;
    margin-bottom: 5px;
}
.title {
    padding: 10px 0;
    font-size: 24px;
    color: #55bcd9;
    text-align: left;
    margin-bottom: 5px;
}
.footer {
    text-align: center;
    padding: 20px 20px;
}
.footer-link {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 18px;
}
.footer-link_black {
    display: inline-block;
    /*border: 2px solid red;*/
    background-color: black;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
hr{
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    clear: both;
}
.about{
    width: 100%;
    margin-top: 20px;
}
.about-box{
    float: left;
    width:33.33%;
    /*border: 2px solid red;*/
}
.about-name {
    font-size: 24px;
    color: red;
    color: #55bcd9;
}
.about-text {
    text-align: justify;
    /*border: 2px solid red;*/
    padding-right: 20px;
}
.trendsong {
    /*border: 2px solid blue;*/
    text-align: center;
    height: auto;
    width: 100%;
}
.trendsong::after{
    content: "";
    clear: both;
    display: table;
}
.trendsong-control {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    /*border: 2px solid red;*/
    width: 200px;
    margin: 20px auto;
    overflow: hidden;
}
.trendsong-name {
    font-size: 24px;
    color: #55bcd9;
    padding: 20px;
}
.control-play {
    display: inline-block;
    border: 2px solid transparent;
    float: left;
    padding: 6px 6px;
}
.control-text {
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 30px;
    /*border: 2px solid red;*/
}
.control-next {
    border: 2px solid transparent;
    display: inline-block;
    float: right;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    /*padding: 6px 6px;*/
}
.control-cast {
    border: 2px solid transparent;
    display: inline-block;
    float: right;
    padding: 6px 6px;
}
.trendsong .hover:hover{
    background-color: black;
}
.trendsong-lyric pre {
    line-height: 1.5;
}
.trendsong-lyric pre::first-line {
    color: #55bcd9;
}
